@import url@import url('https://fonts.googleapis.com/css2?family=Lato&family=Quicksand:wght@500;600&display=swap');
:root{
  --yellow:#F1B32D;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.btn{
  cursor:pointer;
}
.main-box{
  min-height: 100%;
  overflow: auto;
  margin-bottom: 10px;
}
/*HOME-NAV BAR*/
header{
  width: 100%;
  margin-top:15px;
  min-height: 50px;
  display: flex;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  position: absolute;
  justify-content:space-between;

}
.desk{
  justify-content: flex-end;
  display: flex;
  flex: 10 1 auto;
}

nav a{
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color:white;
  padding-right:20px;

}
nav a:hover{
  color:var(--yellow);
}
nav a::after {
  content: '';
  position: absolute;
  margin-top: 0;
  height: 20px;
  width: 1px;
  border-radius: 2px;
  margin-left: 10px;
  background-color: white;
}
.home-box{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("principal..jpg");
  background-size: cover;
  display: flex;
  width: 100%;
  height: 100vh;
}

.home-box  h1{
  color: white;
  margin-top:100px;
  font-weight:100;
  text-align:center;
  font-size:3em;
}
.home-box  h3{
  color: rgba(255, 255, 255, 0.514);
  text-align: center;
  font-weight: lighter;
  letter-spacing: 3px;
  text-transform: uppercase;
}
a.donate-btn {
  padding: 10px 40px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  margin-left: 37%;
  border: none;
  color: gray;
  margin-top: 5px;
  text-decoration: none;
  background-color: whitesmoke;
}
.donate-btn:hover{
  background-color:var(--yellow);
  color:white;
}



h1, h2, h3{
  font-family: 'Quicksand', sans-serif;
}
p,a, form{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

section{
  width: 100%;
  padding: 20px;
  background: #FCFCFC;
}

.aboutUs {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.article-section{
  width: 20%;
  padding: 20px;
  border-left: solid 5px #FFE7AF;
}

.article-section a {
  position: relative;
  text-decoration: none;
  bottom: 50px;
  color:#fff;
  background-color:#000;
  opacity: 0.7;
  padding: 5px
}
.main-article{
  width: 80%;
  height: 100%;
  margin: 10px;
}
.main-article h1{
  font-size: 50px;
}
.subject{
  display: flex;
  flex-direction: row;
}

.img-subject{
  margin: 20px;
}
#subject{
  margin: 20px;
}

.selectdonate {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.select{
  display: flex;
  justify-content: space-around;
}
.Farmer{
  align-self: auto;
  padding: 30px;
  justify-content:center;
  margin: 10px;
  border: solid 5px #FFE7AF;
  border-radius: 5px;
  text-align: center;
}
/*FORMULARIOS*/
.box-form{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}
.user-form{
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px 10px rgba(122, 122, 122, 0.19);
}
.picture{
  height: 100%;
  animation: change 20s ease infinite;
}
@keyframes change {
0%{
  background: url("platanos.jpg") no-repeat center;
  background-size: cover;
}
100%{
  background: url("formimg.jpg") no-repeat center;
  background-size: cover;
}

}
.picture:hover{
  height: 100%;
  background: url("formimg.jpg") no-repeat center;
  background-size: cover;
}

.data-form{
  padding: 20px 80px;
}
.data-form h2,h3{
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
  opacity: 70%;
}
.field{
  width: 100%;
  padding:4px 5px;
  outline: none;
  border: 2px solid rgba(0,0,0,0);
  background-color: rgba(214, 210, 210, 0.6);
  margin-bottom: 22px;
}

.field:hover{
  background-color: rgba(0,0,0,0.1);
}
.field:focus{
  background-color: #fff;
  border: 2px solid rgba(26, 250, 145, 0.47);
}
#TDC .field{
  margin-bottom: 10px;
}
label{
  text-align: left;
}

.form-btn{
  align-items: center;
  width: 90%;
  text-align: center;
  padding: 10px 20px;
  background-color: #006E61;
  outline: none;
  border: none;
  color: #fff;
  margin-left: 15px;
}
.form-btn:hover{
  background-color: gray;
}
#false{
  color: red;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  display: block;
  padding-bottom: 10px;
}

/*FOOTER*/
.footer-box{
  background-color: var(--yellow);
  width:100%;
  height: 150px;
  clear: both;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  color: whitesmoke;
}
.footer-box .section{
  flex: 1 1 auto;
  align-self: auto;
  margin: auto;
}
.footer-left .social-media img{
  align-items: center;
  width: 100px;
  margin-left: 65px;
  mix-blend-mode: overlay;
}
.footer-left .logo{
  width: 200px;
}

.footer-middle .link a{
  color:white;
  text-decoration: none;
  font-size: small;
  padding-bottom: 2px;
  display: block;
}
.footer-right p{
  font-size: small;
  padding-bottom: 2px;

}
/*#copyright{
background-color:#bb8b247e;
color:gray;
text-align: center;
margin-top: -10px;
}*/

.validation h2{
  font-family: 'Lato', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 10px;
}
.validation hr{
  border: 1px solid gray;
height: 2px;

}
.validation h3{
font-family: 'Lato', sans-serif;
font-weight: 400;
    margin-top: 20px;
    padding-bottom: 1px
}
.validation h4{
  font-family: 'Lato', sans-serif;
    text-align: center;
    opacity: 90%
}
.validation p{
  font-weight: lighter;
    font-style: italic;
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
  }

.validation p em{
  font-weight: bold;
}
